@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #CBCBCB;
    background-image: linear-gradient(#c3c3c3 1px, transparent 1px), linear-gradient(to right, #c3c3c3 1px, #CBCBCB 1px);
    background-size: 20px 20px;
}